/*======== Media Query Style ========*/
@media screen and (max-width: 1024px) {
  /*========Common Style========*/
  .container {
    padding: 0 1rem;
  }
  /*========Home Style========*/
  .home {
    padding: 10rem 0 3rem;
  }
  .home .home-contents .home-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  /*========Step Section Style========*/
  .step .step-contents .box-wrap .box {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  /*========Common Style========*/
  .button {
    font-size: var(--small-font-size);
    margin: 2rem auto 0;
  }
  section,
  footer {
    padding: 4rem 0 1rem;
  }
  /*========Header Style========*/
  .header .nav-menu .nav-list {
    display: none;
  }
  .header .nav-menu .nav-btns {
    column-gap: 1rem;
  }
  .header .nav-menu .menu-icon {
    display: flex;
  }
  /*========Home style========*/
  .home .home-contents {
    flex-wrap: wrap;
  }
  .home .home-contents > .home-box {
    width: 100%;
  }
  .home .home-contents .home-txt {
    order: 2;
  }
  .home .home-contents .home-title {
    font-size: var(--big-font-size);
    line-height: 3rem;
    text-align: center;
  }
  .home .home-contents .home-desc {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  .home .home-contents .home-image {
    order: 1;
    margin-bottom: 2rem;
  }

  .home .home-contents .home-image img {
    width: 280px;
  }
  /*========About style========*/
  .about-contents {
    flex-wrap: wrap;
  }
  .about-contents .about-box {
    width: 100%;
  }
  .about-contents .about-img {
    order: 1;
    margin-bottom: 2rem;
  }
  .about-contents .about-img img {
    width: 280px;
  }
  .about-contents .about-txt {
    width: 60%;
    margin: auto;
    order: 2;
    text-align: center;
  }
  .about-contents .about-box ul {
    width: 60%;
    margin: 2rem auto;
    _display: flex;
    _flex-direction: column;
    _align-items: center;
  }
  .about-contents .about-txt .button {
    padding: 0;
  }
  /*========Step Section style========*/
  .step .step-contents .box-wrap {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .step .step-contents .box-wrap .box {
    width: calc(50% - 0.5rem);
  }
  /*========Product Section style========*/
  .product .item {
    width: 50%;
  }
  .product .item-img .circle {
    width: 30%;
    height: 30%;
  }
  .item-info {
    padding: 0;
  }
  .question .question-box {
    width: 100%;
  }
  .question .question-header {
    padding: 0.5rem 1rem;
  }
  /*========Contact Section style========*/
  .contact .contact-content {
    flex-wrap: wrap;
  }
  .contact .contact-content > div {
    width: 100%;
  }
  .contact .section-title {
    text-align: left;
  }
  .contact .input-info {
    padding: 0;
    margin-top: 2rem;
  }
  .contact .form {
    padding: 1rem 0;
  }
  /*========Footer style========*/
  .footer .footer-content {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  .footer .footer-item {
    /* !important: css에서 정의하는 값으로 가장 최우선 적용된다. 사용은 최소화한다 */
    width: 50% !important;
  }
  .footer .footer-item:nth-child(3) {
    padding-left: 0;
  }
  .footer .copy {
    padding: 4rem 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  /*========Step Section style========*/
  .step .step-contents .box-wrap {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .step .step-contents .box-wrap .box {
    width: 100%;
  }
  /*========Product Section style========*/
  .product .item-img .circle {
    width: 20%;
    height: 20%;
    transform: translateX(-20px);
  }

  .product-items .item-img img {
    _transform: translateX(0);
  }
  /*========Footer style========*/
  .footer .footer-content {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  .footer .footer-item {
    /* !important: css에서 정의하는 값으로 가장 최우선 적용된다. 사용은 최소화한다 */
    width: 100% !important;
  }
  .footer .footer-item:not(:first-child) {
    padding-left: 0;
  }
}

@media screen and (max-width: 420px) {
  .home .home-contents .home-title {
    font-size: var(--h1-font-size);
    line-height: 2rem;
    text-align: center;
  }
  .home .home-contents .home-desc {
    width: 70%;
    font-size: var(--small-font-size);
  }
  .home .home-contents .home-image img {
    width: 240px;
  }

  .about-contents .about-txt {
    width: 70%;
  }
  .about-contents .about-txt .txt-desc {
    font-size: var(--small-font-size);
  }
  .about-contents .about-box ul {
    row-gap: 0.5rem;
  }
  .item-info {
    padding: 0 0.5rem;
  }
  .item-info p {
    font-size: var(--smaller-font-size);
  }
}
