/*======== Google Font ========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap");
/*======== Guided Style ========*/
:root {
  /*=====Font=====*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*======== Reset Style ========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*======== Common Style ========*/
.wrap {
  width: 100%;
  height: auto;
  _overflow: hidden;
}
section,
footer {
  padding: 4rem 0 1rem;
}

.section-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1024px;
}

.button {
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--h3-font-size);
  width: fit-content;
  padding: 0.75rem 1.563rem;
  border-radius: 0.5rem;
  margin-top: 1.563rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

/* 배경색 : var(--body-color)
로고 글자크기 : 1.15rem
로고 나뭇잎 색 : var(--first-color)
네비게이션 글자 크기 : var(--normal-font-size) */

/*======== Main Style ========*/
.header {
  _box-shadow: 0 5px 10px #efefef;
  background: #fff;
}

.header.sticky {
  box-shadow: 0 2px 2px #efefef;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header > .nav {
  display: flex;
  justify-content: space-between;
}

.header .nav-logo,
.footer .nav-logo {
  color: var(--title-color);
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 1.25rem 0;
}

.header .nav-logo .nav-logo-icon,
.footer .nav-logo .nav-logo-icon {
  color: var(--first-color);
}

.header .nav-menu {
  display: flex;
  column-gap: 1.5rem;
}

.header .nav-menu .nav-list {
  display: flex;
  column-gap: 1.5rem;
}
.header .nav-menu .nav-list .nav-item.active > .nav-link {
  color: var(--first-color);
}

.header .nav-menu .nav-list .nav-item.active > .nav-link::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0.625rem;
  animation: ani-wid 0.5s 1;
  animation-fill-mode: forwards;
}

@keyframes ani-wid {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

.header .nav-menu .nav-list .nav-link {
  color: var(--title-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  padding: 1.25rem 0;
  display: block;
  position: relative;
}

.header .nav-menu .nav-btns {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.header .nav-menu .nav-icon {
  display: flex;
  color: var(--title-color);
  flex-direction: column;
  font-size: var(--h2-font-size);
}

.header .nav-menu .menu-icon {
  display: none;
}
/*==== 2. home Style ====*/
.home {
  padding: 13rem 0 5rem;
}

.home .home-contents {
  display: flex;
  position: relative;
}

.home .home-contents > .home-box {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .home-contents .home-image {
  align-items: center;
}

.home .home-contents .home-image img {
  width: 350px;
}

.home .home-contents .home-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 4.5rem;
  margin-bottom: 1.563rem;
}

.home .home-contents .home-desc {
  color: var(--text-color);
}

.home .home-contents .home-social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /*자신의 높이의 절반*/
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6rem;
}

.home .home-social .home-social-txt {
  transform: rotate(90deg);
  display: flex;
  position: relative;
  align-items: center;
  font-weight: var(--font-medium);
  color: var(--first-color);
  font-size: var(--small-font-size);
}

.home .home-social .home-social-txt::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  left: 5rem;
}
.home .home-social .home-social-links {
  display: flex;
  flex-direction: column;
}

.home .home-social .home-social-link {
  color: var(--first-color);
  font-size: 1.15rem;
}

/*====About Section Style====*/

.about-contents {
  display: flex;
  column-gap: 7rem;
}

.about-contents > .about-box {
  width: 50%;
}

.about-contents .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-contents .about-img img {
  width: 380px;
}

.about-contents .about-txt {
  flex-direction: column;
}

/* .about-contents .about-txt .txt-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
} */

.about-contents .about-txt .txt-desc {
  margin: 1.563rem 0;
}

.about-contents .about-txt li {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  column-gap: 0.5rem;
}

.about-contents .about-txt ul i {
  color: var(--first-color);
}
.about-contents .about-txt .button {
  background: none;
  color: var(--first-color);
  padding: 0.75rem 1.563rem 0.75rem 0;
  font-weight: var(--font-medium);
}

/*===== step section style ======*/
.step .step-contents {
  width: 100%;
  background-color: var(--first-color);
  border-radius: 1rem;
  padding: 3.5rem 2.5rem;
}

.step .section-title {
  _width: 100%;
  text-align: center;
  color: #fff;
  _font-size: var(--h1-font-size);
  _font-weight: var(--font-semi-bold);
  margin-bottom: 3.5rem;
}

.step .step-contents .box-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.step .step-contents .box-wrap .box {
  background-color: #fff;
  width: 30%;
  padding: 3rem 2rem;
  border-radius: 1rem;
}
.step .step-contents .box-wrap .box .box-number {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: var(--first-color);
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
  color: #fff;
}
.step .step-contents .box-wrap .box .box-title {
  margin: 1.125rem 0;
  font-weight: bold;
}
.step .step-contents .box-wrap .box .desc {
  font-size: var(--small-font-size);
}

/*===== Products style ======*/

.product-contents {
  width: 100%;
}
.product-contents .product-txt {
  text-align: center;
}
.prd-txt-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}
.product .prd-txt-desc {
  width: 60%;
  margin: 2.5rem auto;
}
.product .product-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5rem;
}
.product .item {
  width: 33.33%;
  padding: 1rem;
  position: relative;
}

.product .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.product-items .item-img img {
  width: 60%;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}
.product-items .item-img:hover img {
  transform: translateY(-30px);
  _transform: scale(1.5);
}
.product .item-img .circle {
  width: 40%;
  height: 40%;
  _width: 7rem;
  _height: 7rem;
  border-radius: 50%;
  background-color: var(--first-color-lighten);
  position: absolute;
  z-index: 1;
  transform: translate(-30px, 20px);
}

.item-info {
  padding: 0 2rem;
  position: relative;
  z-index: 2;
}
.item-info p {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}
.product-contents .price {
  _position: relative;
  display: flex;
  justify-content: space-between;
}
.product-contents .price i {
  _position: absolute;
  _right: 0;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

/*===== Question Section style ======*/
.question {
  background: var(--first-color-lighten);
}

.question .question-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  margin: 2.5rem 0;
  align-items: flex-start;
}

.question .question-box {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 0.5rem);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.question .question-box:hover {
  box-shadow: 0 0 8px #cfcfcf;
}
.question .question-header {
  display: flex;
  padding: 1rem;
}
.question .question-header i {
  font-size: 1.25em;
  color: var(--title-color);
  margin-right: 0.5rem;
}
.question .question-header h3 {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.question .question-answer {
  width: 100%;
  padding: 1rem;
  font-size: var(--small-font-size);
  display: none;
}

.question .question-box.active {
  background-color: var(--first-color);
}

.question .question-box.active .question-header i,
.question .question-box.active .question-header h3,
.question .question-box.active .question-answer {
  color: #fff;
}

/*=========Contact Style=========*/
.contact .contact-content {
  display: flex;
}
.contact .company-info {
  width: 45%;
}
.contact .input-info {
  width: 55%;
  padding-left: 3rem;
}
.contact .contact-tel {
  margin: 2rem 0;
}
.contact .form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.contact div.txt h3 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}
.contact div.txt span {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.contact .form p {
  width: 100%;
  position: relative;
}
.contact .form p label {
  position: absolute;
  top: 1rem;
  left: 0;
  transition: all 0.3s ease;
}
.contact .form p input:not(:placeholder-shown).input:not(:focus) + label {
  top: -0.5rem;
}
.contact .form p input,
.contact .form p textarea {
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  border: none;
  border-bottom: 1px solid var(--first-color-light);
  color: var(--text-color);
  resize: none;
  outline: 0;
}
.contact .form p .input:focus + label {
  top: -0.5rem;
}
/* placeholder-shown: placeholder가 보이는것을 체크한다. 만약 만약 사용자가 값을 입력하면 
plcerholder가 보이지 않는다 */
.contact .form p textarea {
  height: 10rem;
}

/*=========Footer Style=========*/
.footer .footer-content {
  display: flex;
}
.footer .footer-item {
  _border: 1px solid;
  width: 25%;
}
.footer .footer-item:nth-child(1) {
  width: 30%;
}
.footer .nav-logo {
  padding: 0;
}
.footer .footer-title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.footer .footer-item:nth-child(1) .footer-title {
  margin: 2rem 0 1rem;
}
.footer .footer-item:not(:first-child) {
  padding-left: 2rem;
}
.footer .btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: var(--first-color-lighten);
  border-radius: 0.5rem;
}
.footer .btn-box em {
  font-size: var(--small-font-size);
  font-style: normal;
  color: var(--text-color);
}
.footer .btn-box .button {
  margin: 0;
  font-size: var(--small-font-size);
  padding: 1rem;
}

.footer .footer-item p {
  font-size: var(--small-font-size);
  margin: 0.75rem;
}
.footer .footer-item .footer-social-box {
  margin-top: 0.75rem;
  display: flex;
  column-gap: 0.75rem;
  margin-left: 0.75rem;
}
.footer .footer-item .footer-social-box a {
  font-size: 1rem;
  color: var(--text-color);
}

.footer .footer-item .footer-card-box {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 0.75rem;
}

.footer .footer-item .footer-card-box img {
  width: 35px;
}
.footer .copy {
  padding: 7rem 0 2rem;
  text-align: center;
}
.footer .copy p {
  font-size: var(--small-font-size);
  color: var(--text-color);
}
/*=========Memo=========*/
/* 1.박스, 텍스트 그림자 효과 */
/* 박스와 글자에 그림자 효과를 표현한다. 첫번째 값은 x축, 두번째 값은 y축. 세번째 값은 번짐, 네번째 값은 그림자 색을 나타낸다. */

/* 메인타이틀 : 3.5rem var(--big-font-size), var(--font-semi-bold), color: var(--tltle-color)
작은 글씨 설명 : color: var(--text-color)
버튼 : var(--font-medium)
사진 넓이 : 350px */

/* 큰글씨 : var(--h1-font-size), var(--font-semi-bold), var(--title-color); */
